// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// Define fonts for body and headers
<<<<<<< HEAD
$body-font: "Work Sans", "Helvetica", "sans-serif";
=======
$body-font: "Raleway", "Helvetica", "sans-serif";
>>>>>>> 8797dd24c2f6ce4d8c7a175056aed08cdbab0ac0
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
