<% content_for :meta_title, "#{@favorites.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @favorites.name %>
<%# <% content_for :meta_image, cl_image_path(@offer.photo.path) %>

<div class="favorites-index">
  <h1>Favorites</h1>

  <ul class="list-group">
    <% for favorite in @favorites %>
      <% if current_user == favorite.user %>
        <li><%= favorite.release.title %></li>
      <% end %>
    <% end %>
  </ul>
</div>
