<div class="favorites-index">
  <h1>Favorites</h1>

  <ul class="list-group">
    <% for favorite in @favorites %>
      <% if current_user == favorite.user %>
        <li><%= favorite.release.title %></li>
      <% end %>
    <% end %>
  </ul>
</div>
