// Specific CSS for your home-page
.big-cards {
  width: 100%;
  height: 600px;
  background-color: gray;
  background-image: url('blurry_background-1.png');
  background-size: cover;
}

.intro-card {
  padding: 250px 250px;
  color: #ffffff;
}

.white-cards {
  width: 100%;
  height: 150px;
  background: radial-gradient(circle at 40% 40%, #000000 25%, transparent 26%),radial-gradient(circle at 60% 60%, #00000080 25%, transparent 26%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1
}

.discogs-cards {
  padding: 30px;
}

.carousel1 {
    background-image: url('record2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.carousel2 {
  background-image: url('record3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.carousel3 {
  background-image: url('record4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
}

.info-card {
  flex: 0 0 50%;
  padding: 250px 30px;
  background-color: gray;
  text-align: center;
  background-image: url('side-wave_background-1.png');
  background-size: cover;
  color: #ffffff;
  background-position: center;

}

.info-card-2 {
  background-image: url('side-wave_background-2.png');
  background-size: cover;
  color: #ffffff;
  background-position: center;

}

.photo-card {
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.small-image {
   width: 100%; /*or whatever you choose*/
   margin: auto;
}
.small-image img {
   display: block;
   width: 100%;
   max-width: 500px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
}

.list-card{
display: flex;
flex: 0 0 50%;
align-items: center;
justify-content: center;
background-color: white;
}


.big-cards{
  a {
  text-decoration: none;
  color: white;
}
}
