.sign-up {
  max-width: 900px;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  background-color: $light-gray;
  position: relative;
  top: 50px;
}

.sign-up a {
  color: black;
}

.log-in {
  max-width: 900px;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  background-color: $light-gray;
  position: relative;
  top: 50px;
}

.log-in a {
  color: black;
}

.new-release-form {
  max-width: 900px;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  background-color: $light-gray;
  position: relative;
  top: 50px;
}

.new-release-form a {
  color: black;
}

.new-listing-form {
  max-width: 900px;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  background-color: $light-gray;
  position: relative;
  top: 50px;
}
