<h1>List your Wax</h1>

<div class="card p-5 mb-3">
    <%= simple_form_for @release do |f| %>
    <%=f.string "title"%>
    <%= f.submit class:'btn btn btn-secondary btn-lg btn-dar' %>
    <% end %>
