header {
    background-color: gray;
    background-image: url(collection-vinyl.jpg);
    background-size: cover;
    height: 600px;
    margin-top: 137px;
    box-shadow: 0 0 10px rgba(0.98, 0.98, 0.98, 0.98);
}

.carousel {
    .carousel-image-container {
    display: flex;
    justify-content: start;
    align-items: center;
    }
}

.carousel-image-container {
    img {
    max-height: 500px;
    max-width: 450px;
    object-fit: contain;
    height: 90%;
    margin-block: auto;
    margin-left: 80px;
    margin-top: 135px;
    }
}

.carousel-item {
    h2 {
    margin-bottom: 268px;
    margin-left: 135px;
    font-size: 59px !important;
    }
    h3 {
        margin-bottom: 95px;
        margin-right: 235px;
        font-size: 35px !important;
    }
}

.ownership-banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }