<div class="sort-bar">
  <div>
    <h4><strong>All Available Releases (100)</strong></h4>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sort By:</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

<div class="filter-and-releases">
  <div class="filter">
    <div class="location-filter"><h5>Location</h5></div>
    <div class="price-filter"><h5>Price</h5></div>
    <div class="contition-filter"><h5>Condition</h5></div>
  </div>

  <div class="releases">
    <div class="release-card"></div>
    <div class="release-card"></div>
    <div class="release-card"></div>
    <div class="release-card"></div>
  </div>
</div>
