<div class="sort-bar">
  <div>
    <h4><strong>All Available Releases (100)</strong></h4>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Sort By:</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

<div class="all-releases">
  <div class="releases">
    <% for release in @releases %>
      <div class="release-card">
        <div class="album-thumbnail">
          <%= link_to url_for(release) do %>
            <%= image_tag release.url %>
          <% end %>
        </div>
        <div class="album-content">
          <div class="top">
            <div class="album-copy">
              <h4><%= release.title %></h4>
              <p><%= release.artist%></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
 </div>
